In [ ]:
import pandas as pd
nm = pd.read_csv('Nationmaster.csv', encoding='latin1')
nm

,Unnamed: 0,%25 of managers surveyed ranking this as a major business constraint,Acquitted,Acquitted per 1000,Adults prosecuted,Adults prosecuted per 1000,Age of criminal responsibility,Age of criminal responsibility %28notes%29,Assault rate,Assault victims,...,Robbery victims,Sentence Length,Serious assault rate,Serious assaults,Software piracy rate,Total crime victims,Total crimes,Total crimes per 1000,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million
0,Guatemala,80.44,NaN,NaN,NaN,NaN,NaN,NaN,48.1,NaN,...,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN,0.100000,0.008499
1,Kenya,69.57,NaN,NaN,NaN,NaN,8.0,NaN,35.9,NaN,...,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN,7.700000,0.233330
2,Honduras,60.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN,5.400000,0.831306
3,Jamaica,54.44,NaN,NaN,NaN,NaN,NaN,NaN,421.9,NaN,...,NaN,2.0,220.0,220.0,NaN,NaN,39188.0,14.971565,0.000000,0.000000
4,Brazil,52.04,NaN,NaN,NaN,NaN,18.0,Majority age is 18; but from age 12 children's...,NaN,NaN,...,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,29.900000,0.166672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Reunion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
231,South Asia average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.725000,7.863995
232,South and Central Asia average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.709091,3.435639
233,"Congo, Republic of the",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.700000,NaN

In [ ]:
import pandas as pd
nm = pd.read_csv('Nationmaster.csv', encoding='latin1')
nm.rename(columns={'Unnamed: 0': "Country"}, inplace=1)
nm

,Country,%25 of managers surveyed ranking this as a major business constraint,Acquitted,Acquitted per 1000,Adults prosecuted,Adults prosecuted per 1000,Age of criminal responsibility,Age of criminal responsibility %28notes%29,Assault rate,Assault victims,...,Robbery victims,Sentence Length,Serious assault rate,Serious assaults,Software piracy rate,Total crime victims,Total crimes,Total crimes per 1000,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million
0,Guatemala,80.44,NaN,NaN,NaN,NaN,NaN,NaN,48.1,NaN,...,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN,0.100000,0.008499
1,Kenya,69.57,NaN,NaN,NaN,NaN,8.0,NaN,35.9,NaN,...,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN,7.700000,0.233330
2,Honduras,60.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN,5.400000,0.831306
3,Jamaica,54.44,NaN,NaN,NaN,NaN,NaN,NaN,421.9,NaN,...,NaN,2.0,220.0,220.0,NaN,NaN,39188.0,14.971565,0.000000,0.000000
4,Brazil,52.04,NaN,NaN,NaN,NaN,18.0,Majority age is 18; but from age 12 children's...,NaN,NaN,...,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,29.900000,0.166672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Reunion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
231,South Asia average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.725000,7.863995
232,South and Central Asia average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.709091,3.435639
233,"Congo, Republic of the",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.700000,NaN

In [ ]:
#dropping data which is irrelevant
nm.drop(columns=[
	"Age of criminal responsibility %28notes%29", "Background",
	"Illicit drugs",
	"Minimum to serve before eligibility for requesting parole",
	"Prosecution rate",
	"Prosecution rate per million",
	"%25 sales"
], inplace=True)

print("deleting average countries: \n", nm[nm["Country"].str.match(".*average")]["Country"])
nm.drop(nm[nm["Country"].str.match(".*average")].index, inplace=True)

nm

deleting average countries:
 45                      Eastern Europe average
52             Former Soviet republics average
97                      NATO countries average
98                      European Union average
122          Group of 7 countries (G7) average
141                           Eurozone average
144                   Emerging markets average
172         High income OECD countries average
173            Non-religious countries average
180                             Europe average
207         Heavily indebted countries average
208            Former British colonies average
209                     OPEC countries average
210            Former Spanish colonies average
211    Middle Eastern and North Africa average
212                   Muslim countries average
213        Latin America and Caribbean average
214             Former French colonies average
231                         South Asia average
232             South and Central Asia average
Name: Country, dtype: object

,Country,%25 of managers surveyed ranking this as a major business constraint,Acquitted,Acquitted per 1000,Adults prosecuted,Adults prosecuted per 1000,Age of criminal responsibility,Assault rate,Assault victims,Assaults,...,Robbery victims,Sentence Length,Serious assault rate,Serious assaults,Software piracy rate,Total crime victims,Total crimes,Total crimes per 1000,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million
0,Guatemala,80.44,NaN,NaN,NaN,NaN,NaN,48.1,NaN,48.1,...,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN,0.1,0.008499
1,Kenya,69.57,NaN,NaN,NaN,NaN,8.0,35.9,NaN,35.9,...,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN,7.7,0.233330
2,Honduras,60.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN,5.4,0.831306
3,Jamaica,54.44,NaN,NaN,NaN,NaN,NaN,421.9,NaN,421.9,...,NaN,2.0,220.0,220.0,NaN,NaN,39188.0,14.971565,0.0,0.000000
4,Brazil,52.04,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,29.9,0.166672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Reunion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
233,"Congo, Republic of the",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.7,NaN

In [ ]:
#dropping countries we do not have data about
limit = 20  # drop all countries with data in less than x columns
bad_countries = (~nm.isna()).sum(axis=1)
print("deleting ", (bad_countries < 20).sum())
nm.drop(nm[bad_countries < 20].index, inplace=True)
nm

deleting  107

,Country,%25 of managers surveyed ranking this as a major business constraint,Acquitted,Acquitted per 1000,Adults prosecuted,Adults prosecuted per 1000,Age of criminal responsibility,Assault rate,Assault victims,Assaults,...,Robbery victims,Sentence Length,Serious assault rate,Serious assaults,Software piracy rate,Total crime victims,Total crimes,Total crimes per 1000,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million
0,Guatemala,80.44,NaN,NaN,NaN,NaN,NaN,48.1,NaN,48.1,...,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN,0.1,0.008499
1,Kenya,69.57,NaN,NaN,NaN,NaN,8.0,35.9,NaN,35.9,...,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN,7.7,0.233330
3,Jamaica,54.44,NaN,NaN,NaN,NaN,NaN,421.9,NaN,421.9,...,NaN,2.0,220.0,220.0,NaN,NaN,39188.0,14.971565,0.0,0.000000
5,El Salvador,49.03,1456.0,0.242331,68031.0,11.322822,NaN,75.9,NaN,75.9,...,NaN,NaN,3.5,3.5,81.0,NaN,44762.0,7.450018,1.7,0.282942
6,Zambia,48.79,188.0,0.017693,251.0,0.023623,NaN,211.4,NaN,211.4,...,NaN,NaN,NaN,226.8,82.0,NaN,59426.0,5.592813,60.4,5.684480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,5.6,NaN,5.6,...,NaN,NaN,NaN,17.9,89.0,NaN,24066.0,1.297284,9.1,0.490538
150,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,1.7,NaN,1.7,...,NaN,NaN,0.8,0.8,NaN,NaN,NaN,NaN,5.8,1.260823
153,Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,464.7,...,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,37.7,51.464696
154,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.2,...,NaN,NaN,NaN,7.2,51.0,NaN,84599.0,3.876204,33.8,1.548667
155,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.7,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,0.0,0.000000

In [ ]:
nm

,Country,%25 of managers surveyed ranking this as a major business constraint,Acquitted,Acquitted per 1000,Adults prosecuted,Adults prosecuted per 1000,Age of criminal responsibility,Assault rate,Assault victims,Assaults,...,Robbery victims,Sentence Length,Serious assault rate,Serious assaults,Software piracy rate,Total crime victims,Total crimes,Total crimes per 1000,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million
0,Guatemala,80.44,NaN,NaN,NaN,NaN,NaN,48.1,NaN,48.1,...,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN,0.1,0.008499
1,Kenya,69.57,NaN,NaN,NaN,NaN,8.0,35.9,NaN,35.9,...,NaN,NaN,NaN,NaN,81.0,NaN,NaN,NaN,7.7,0.233330
3,Jamaica,54.44,NaN,NaN,NaN,NaN,NaN,421.9,NaN,421.9,...,NaN,2.0,220.0,220.0,NaN,NaN,39188.0,14.971565,0.0,0.000000
5,El Salvador,49.03,1456.0,0.242331,68031.0,11.322822,NaN,75.9,NaN,75.9,...,NaN,NaN,3.5,3.5,81.0,NaN,44762.0,7.450018,1.7,0.282942
6,Zambia,48.79,188.0,0.017693,251.0,0.023623,NaN,211.4,NaN,211.4,...,NaN,NaN,NaN,226.8,82.0,NaN,59426.0,5.592813,60.4,5.684480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,5.6,NaN,5.6,...,NaN,NaN,NaN,17.9,89.0,NaN,24066.0,1.297284,9.1,0.490538
150,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,1.7,NaN,1.7,...,NaN,NaN,0.8,0.8,NaN,NaN,NaN,NaN,5.8,1.260823
153,Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,464.7,...,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,37.7,51.464696
154,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.2,...,NaN,NaN,NaN,7.2,51.0,NaN,84599.0,3.876204,33.8,1.548667
155,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.7,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,0.0,0.000000

In [ ]:
nm.columns[0]

'Country'

In [ ]:
df = nm.fillna(0)
df

,Country,%25 of managers surveyed ranking this as a major business constraint,Acquitted,Acquitted per 1000,Adults prosecuted,Adults prosecuted per 1000,Age of criminal responsibility,Assault rate,Assault victims,Assaults,...,Robbery victims,Sentence Length,Serious assault rate,Serious assaults,Software piracy rate,Total crime victims,Total crimes,Total crimes per 1000,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million
0,Guatemala,80.44,0.0,0.000000,0.0,0.000000,0.0,48.1,0.0,48.1,...,0.0,0.0,0.0,0.0,80.0,0.0,0.0,0.000000,0.1,0.008499
1,Kenya,69.57,0.0,0.000000,0.0,0.000000,8.0,35.9,0.0,35.9,...,0.0,0.0,0.0,0.0,81.0,0.0,0.0,0.000000,7.7,0.233330
3,Jamaica,54.44,0.0,0.000000,0.0,0.000000,0.0,421.9,0.0,421.9,...,0.0,2.0,220.0,220.0,0.0,0.0,39188.0,14.971565,0.0,0.000000
5,El Salvador,49.03,1456.0,0.242331,68031.0,11.322822,0.0,75.9,0.0,75.9,...,0.0,0.0,3.5,3.5,81.0,0.0,44762.0,7.450018,1.7,0.282942
6,Zambia,48.79,188.0,0.017693,251.0,0.023623,0.0,211.4,0.0,211.4,...,0.0,0.0,0.0,226.8,82.0,0.0,59426.0,5.592813,60.4,5.684480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Yemen,0.00,0.0,0.000000,0.0,0.000000,0.0,5.6,0.0,5.6,...,0.0,0.0,0.0,17.9,89.0,0.0,24066.0,1.297284,9.1,0.490538
150,Turkmenistan,0.00,0.0,0.000000,0.0,0.000000,0.0,1.7,0.0,1.7,...,0.0,0.0,0.8,0.8,0.0,0.0,0.0,0.000000,5.8,1.260823
153,Bahrain,0.00,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,464.7,...,0.0,0.0,0.0,0.0,57.0,0.0,0.0,0.000000,37.7,51.464696
154,Saudi Arabia,0.00,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,63.2,...,0.0,0.0,0.0,7.2,51.0,0.0,84599.0,3.876204,33.8,1.548667
155,United Arab Emirates,0.00,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,53.7,...,0.0,0.0,0.0,0.0,35.0,0.0,0.0,0.000000,0.0,0.000000

In [ ]:
nm[nm["Country"].str.match(".*Un.*")]  # country name search

,Country,%25 of managers surveyed ranking this as a major business constraint,Acquitted,Acquitted per 1000,Adults prosecuted,Adults prosecuted per 1000,Age of criminal responsibility,Assault rate,Assault victims,Assaults,...,Robbery victims,Sentence Length,Serious assault rate,Serious assaults,Software piracy rate,Total crime victims,Total crimes,Total crimes per 1000,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million
94,United Kingdom,NaN,54682.0,0.921724,1571570.0,26.490494,NaN,NaN,2.8,NaN,...,1.2,38.6,NaN,NaN,26.0,26.4,6523706.0,109.964046,0.0,0.0
121,United States,NaN,NaN,NaN,14203800.0,49.383018,6.0,NaN,1.2,786.7,...,0.6,29.0,NaN,281.6,20.0,21.1,11877218.0,41.294081,NaN,NaN
155,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.7,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,0.0,0.0

In [ ]:
nm2 = nm.copy()

In [ ]:
#dropping columns we do not have rows for enough countries
nm = nm2.copy()
limit = 20  # drop columns with more than x countries missing
bad_cols = nm.isna().sum(axis=0)
print("deleting ", (bad_cols > limit).sum(), ":\n", nm.columns[bad_cols > limit])
nm.drop(columns=nm.columns[bad_cols > limit],inplace=True)
print(nm.shape)
nm

deleting  58 :
 Index(['%25 of managers surveyed ranking this as a major business constraint',
       'Acquitted', 'Acquitted per 1000', 'Adults prosecuted',
       'Adults prosecuted per 1000', 'Age of criminal responsibility',
       'Assault rate', 'Assault victims', 'Believe in police efficiency',
       'Bribery victims', 'Burglaries', 'Car thefts', 'Car thefts per 1000',
       'Convictions', 'Convictions per 1000', 'Counterfeiting',
       'Counterfeiting per million', 'Drug offences', 'Drug trafficking',
       'Embezzlements', 'Embezzlements per million', 'Executions',
       'Executions per million', 'Females prosecuted',
       'Females prosecuted per 1000', 'Frauds', 'Frauds per 1000', '2007',
       'Term End', 'Jails', 'Jails per million', 'Judges',
       'Judges and Magistrates', 'Judges and Magistrates per million',
       'Kidnappings', 'Manslaughters', 'Manslaughters per million', 'Sources',
       'Murders', 'Per capita', 'Murders committed by youths',
       'Murders committed by youths per capita',
       'Murders committed by youths per million', 'Murders per million',
       'Murders with firearms', 'Murders with firearms per million',
       'Police officers', 'Property crime victims', 'Prosecutors',
       'Rape victims', 'Reporting to police', 'Robbery victims',
       'Sentence Length', 'Serious assault rate', 'Serious assaults',
       'Total crime victims', 'Total crimes', 'Total crimes per 1000'],
      dtype='object')
(107, 15)

,Country,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,Prisoners per 1000,Rape rate,Robberies,Software piracy rate,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million
0,Guatemala,48.1,63.0,81.82,84.09,NaN,52.00,62.1,8307.0,0.706033,2.9,102.8,80.0,0.1,0.008499
1,Kenya,35.9,0.1,75.00,91.25,16.0,3.60,34.2,35278.0,1.069013,2.1,14.2,81.0,7.7,0.233330
3,Jamaica,421.9,10.0,81.25,73.33,463.0,60.00,NaN,4744.0,1.812420,24.4,90.8,NaN,0.0,0.000000
5,El Salvador,75.9,20.7,59.09,75.00,18.0,71.00,21.7,11055.0,1.839952,11.0,92.0,81.0,1.7,0.282942
6,Zambia,211.4,7.6,NaN,NaN,4.0,NaN,17.4,13173.0,1.239762,NaN,25.8,82.0,60.4,5.684480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Yemen,5.6,4.5,80.00,60.00,1.0,4.00,NaN,14000.0,0.754674,0.8,NaN,89.0,9.1,0.490538
150,Turkmenistan,1.7,0.0,NaN,NaN,25.0,4.10,NaN,0.0,0.000000,0.6,2.9,NaN,5.8,1.260823
153,Bahrain,464.7,289.3,78.57,17.86,107.0,0.80,55.4,911.0,1.243616,4.6,31.3,57.0,37.7,51.464696
154,Saudi Arabia,63.2,85.4,56.45,23.41,52.0,0.90,56.3,28612.0,1.310961,NaN,2.9,51.0,33.8,1.548667
155,United Arab Emirates,53.7,14.3,50.00,13.93,23.0,0.92,78.6,0.0,0.000000,1.5,13.2,35.0,0.0,0.000000

In [ ]:
import plotly.offline as py

import plotly.graph_objs as go

py.init_notebook_mode(connected=True)

In [ ]:
countriesraw = pd.read_csv('2014_world_gdp_with_codes.csv')
countriesraw

            COUNTRY  GDP (BILLIONS) CODE
0       Afghanistan           21.71  AFG
1           Albania           13.40  ALB
2           Algeria          227.80  DZA
3    American Samoa            0.75  ASM
4           Andorra            4.80  AND
..              ...             ...  ...
217  Virgin Islands            5.08  VGB
218       West Bank            6.64  WBG
219           Yemen           45.45  YEM
220          Zambia           25.61  ZMB
221        Zimbabwe           13.74  ZWE

[222 rows x 3 columns]

In [ ]:
# merging the dataframes from the original dataframe 'nm' and '2014_world_gdp_with_codes.csv'



countriesraw = pd.read_csv('2014_world_gdp_with_codes.csv')
countries=countriesraw.copy()

countries["Country"]=countries["COUNTRY"]
countries=countries.drop(columns=["COUNTRY"])

nm.reset_index(inplace=True)

nm=nm.merge(countries,how="outer")

nm.sort_index(inplace=True)
nm.set_index("Country",inplace=True)
nm.columns

Index(['index', 'Assaults', 'Auto theft',
       'Believes crime increasing in the past 3 years', 'Crime levels',
       'Drug related crime', 'Murder rate', 'Prison staff', 'Prisoners',
       'Prisoners per 1000', 'Rape rate', 'Robberies', 'Software piracy rate',
       'Unpaid diplomatic parking fines',
       'Unpaid diplomatic parking fines per million', 'GDP (BILLIONS)',
       'CODE'],
      dtype='object')

In [ ]:
nm

,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,Prisoners per 1000,Rape rate,Robberies,Software piracy rate,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million,GDP (BILLIONS),CODE
Country,,,,,,,,,,,,,,,,,
Guatemala,0.0,48.1,63.0,81.82,84.09,NaN,52.0,62.1,8307.0,0.706033,2.9,102.8,80.0,0.1,0.008499,58.30,GTM
Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,1.069013,2.1,14.2,81.0,7.7,0.233330,62.72,KEN
Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,NaN,4744.0,1.812420,24.4,90.8,NaN,0.0,0.000000,13.92,JAM
El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,1.839952,11.0,92.0,81.0,1.7,0.282942,25.14,SLV
Zambia,6.0,211.4,7.6,NaN,NaN,4.0,NaN,17.4,13173.0,1.239762,NaN,25.8,82.0,60.4,5.684480,25.61,ZMB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.08,UZB
Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.82,VUT
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.80,VNM
Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.08,VGB
West Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.64,WBG

In [ ]:
# merging the dataframes from the original dataframe 'nm' and 'Publication Reports'


import pandas as pd
unodc=None
fields=["Assault","Kidnapping","Theft","Robbery","Burglary","Domestic_Burglary","Theft_of_Private_Cars","Motor_Vehicle_Theft",
        "Total_Sexual_Violence","Rape","Sexual_Offences_ag_Children"]
string="abcdefghijk"

for i in range(len(string)):
    l=string[i]
    names=["%s_Rel_20%02d"%(fields[i],j) for j in range(3,15)]

    tmp= pd.read_csv('Publication Reports_1%s.csv'%l,sep=";",index_col=[2],header=None,skipinitialspace=True,skiprows=10, encoding='latin1',
                 names=[
        "Region","Sub-Region","Country",
        *["%s_Abs_20%02d"%(fields[i],j) for j in range(3,15)],
                     "nothing",
        *["%s_Rel_20%02d"%(fields[i],j) for j in range(3,15)]
        ],

    )
    tmp.reset_index(inplace=True)
    tmp["Country"]=tmp["Country"].str.replace("*","").str.replace(" of America","").str.replace(" (England and Wales)","",regex=False).str.replace("Russian Federation","Russia").str.replace("Republic of ","").str.replace(" (Plurinational State of)","",regex=False).str.replace("Korea","Korea, South",regex=False)
    tmp.set_index("Country",inplace=True)
    tmp.drop(columns=["Region","Sub-Region","nothing"],inplace=True)
    for n in names:
        tmp[n]=tmp[n].str.replace(".","").str.replace(",([0-9])$",lambda m: "."+m[1]).astype(float)
    tmp=tmp.loc[tmp.index.dropna()]

    unodc=tmp  if unodc is None else unodc.merge(tmp,how="outer",on="Country")
unodc.drop("Country/territory",inplace=True)

unodc
#unodc.rename(columns={'Country/territory':'Subcontinent'},inplace=True)

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:24: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1991145106.py:28: FutureWarning:

The default value of regex will change from True to False in a future version.

,Assault_Abs_2003,Assault_Abs_2004,Assault_Abs_2005,Assault_Abs_2006,Assault_Abs_2007,Assault_Abs_2008,Assault_Abs_2009,Assault_Abs_2010,Assault_Abs_2011,Assault_Abs_2012,...,Sexual_Offences_ag_Children_Rel_2005,Sexual_Offences_ag_Children_Rel_2006,Sexual_Offences_ag_Children_Rel_2007,Sexual_Offences_ag_Children_Rel_2008,Sexual_Offences_ag_Children_Rel_2009,Sexual_Offences_ag_Children_Rel_2010,Sexual_Offences_ag_Children_Rel_2011,Sexual_Offences_ag_Children_Rel_2012,Sexual_Offences_ag_Children_Rel_2013,Sexual_Offences_ag_Children_Rel_2014
Country,,,,,,,,,,,,,,,,,,,,,
Burundi,NaN,NaN,NaN,NaN,NaN,437.000,496.000,304.000,499.000,455.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kenya,NaN,NaN,12.715,13.186,12.089,11.479,14.189,14.078,14.366,14.534,...,6.0,8.0,10.7,9.8,13.6,16.5,15.7,16.3,15.5,16.9
Mauritius,105.0,144.000,122.000,106.000,140.000,148.000,274.000,238.000,230.000,NaN,...,NaN,NaN,NaN,NaN,74.5,88.0,87.7,NaN,NaN,NaN
Mozambique,NaN,1.350,1.272,800.000,724.000,728.000,526.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rwanda,NaN,NaN,NaN,NaN,NaN,2.249,1.985,2.004,2.526,3.177,...,NaN,NaN,NaN,43.0,33.3,33.2,34.8,31.4,27.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Solomon Islands,NaN,1.207,1.213,1.168,1.184,1.097,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.8,8.8,9.8,11.5,11.8,13.2,14.1,12.2,NaN,NaN
Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iran (Islamic Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
countries=pd.read_csv('2014_world_gdp_with_codes.csv')
countries["Country"]=countries["COUNTRY"]
countries=countries.drop(columns=["COUNTRY","GDP (BILLIONS)"])


#unodc["CC"]=countries.loc[unodc["Country"].str.replace("*","")].reset_index()["CODE"]
unodc=unodc.reset_index().merge(countries,how="outer")

unodc.sort_index(inplace=True)
unodc.set_index("Country",inplace=True)

In [ ]:
unodc

,Assault_Abs_2003,Assault_Abs_2004,Assault_Abs_2005,Assault_Abs_2006,Assault_Abs_2007,Assault_Abs_2008,Assault_Abs_2009,Assault_Abs_2010,Assault_Abs_2011,Assault_Abs_2012,...,Sexual_Offences_ag_Children_Rel_2006,Sexual_Offences_ag_Children_Rel_2007,Sexual_Offences_ag_Children_Rel_2008,Sexual_Offences_ag_Children_Rel_2009,Sexual_Offences_ag_Children_Rel_2010,Sexual_Offences_ag_Children_Rel_2011,Sexual_Offences_ag_Children_Rel_2012,Sexual_Offences_ag_Children_Rel_2013,Sexual_Offences_ag_Children_Rel_2014,CODE
Country,,,,,,,,,,,,,,,,,,,,,
Burundi,NaN,NaN,NaN,NaN,NaN,437.000,496.000,304.000,499.000,455.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDI
Kenya,NaN,NaN,12.715,13.186,12.089,11.479,14.189,14.078,14.366,14.534,...,8.0,10.7,9.8,13.6,16.5,15.7,16.3,15.5,16.9,KEN
Mauritius,105.0,144.00,122.000,106.000,140.000,148.000,274.000,238.000,230.000,NaN,...,NaN,NaN,NaN,74.5,88.0,87.7,NaN,NaN,NaN,MUS
Mozambique,NaN,1.35,1.272,800.000,724.000,728.000,526.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MOZ
Rwanda,NaN,NaN,NaN,NaN,NaN,2.249,1.985,2.004,2.526,3.177,...,NaN,NaN,43.0,33.3,33.2,34.8,31.4,27.5,NaN,RWA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VEN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VNM
Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VGB
West Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WBG
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZMB

In [ ]:
unodc_mult=pd.DataFrame()
tmp=pd.DataFrame()
for i in range(3,15):
    tmp=unodc[["%s_Abs_20%02d"%(f,i) for f in fields]+["%s_Rel_20%02d"%(f,i) for f in fields]]
    tmp.columns=tmp.columns.str.replace("_20%02d"%i,"")
    tmp["Year"]=2000+i
    tmp=tmp.reset_index().set_index(["Country","Year"])
    unodc_mult=unodc_mult.append(tmp)
unodc_mult=unodc_mult.sort_index()
unodc_mult = unodc_mult.reset_index()
unodc_mult.rename(columns={'Country':'Region'},inplace=True)
unodc_mult = unodc_mult.set_index(['Region','Year'])
unodc_mult[:15]

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/333975870.py:8: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

                  Assault_Abs  Kidnapping_Abs Theft_Abs Robbery_Abs  \
Region      Year
Afghanistan 2003          NaN             NaN       NaN         NaN
            2004          NaN             NaN       NaN         NaN
            2005          NaN             NaN       NaN         NaN
            2006          NaN             NaN       NaN         NaN
            2007          NaN             NaN       NaN         NaN
            2008          NaN             NaN       NaN         NaN
            2009          NaN             NaN       NaN         NaN
            2010          NaN             NaN       NaN         NaN
            2011          NaN             NaN       NaN         NaN
            2012          NaN             NaN       NaN         NaN
            2013          NaN             NaN       NaN         NaN
            2014          NaN             NaN       NaN         NaN
Albania     2003          NaN             NaN       NaN         NaN
            2004          NaN             NaN       NaN         NaN
            2005        165.0             NaN     2.986       199.0

                 Burglary_Abs Domestic_Burglary_Abs  \
Region      Year
Afghanistan 2003          NaN                   NaN
            2004          NaN                   NaN
            2005          NaN                   NaN
            2006          NaN                   NaN
            2007          NaN                   NaN
            2008          NaN                   NaN
            2009          NaN                   NaN
            2010          NaN                   NaN
            2011          NaN                   NaN
            2012          NaN                   NaN
            2013          NaN                   NaN
            2014          NaN                   NaN
Albania     2003          NaN                   NaN
            2004          NaN                   NaN
            2005          199                   675

                  Theft_of_Private_Cars_Abs Motor_Vehicle_Theft_Abs  \
Region      Year
Afghanistan 2003                        NaN                     NaN
            2004                        NaN                     NaN
            2005                        NaN                     NaN
            2006                        NaN                     NaN
            2007                        NaN                     NaN
            2008                        NaN                     NaN
            2009                        NaN                     NaN
            2010                        NaN                     NaN
            2011                        NaN                     NaN
            2012                        NaN                     NaN
            2013                        NaN                     NaN
            2014                        NaN                     NaN
Albania     2003                        NaN                     NaN
            2004                        NaN                     NaN
            2005                      708.0                     708

                  Total_Sexual_Violence_Abs  Rape_Abs  ...  Kidnapping_Rel  \
Region      Year                                       ...
Afghanistan 2003                        NaN       NaN  ...             NaN
            2004                        NaN       NaN  ...             NaN
            2005                        NaN       NaN  ...             NaN
            2006                        NaN       NaN  ...             NaN
            2007                        NaN       NaN  ...             NaN
            2008                        NaN       NaN  ...             NaN
            2009                        NaN       NaN  ...             NaN
            2010                        NaN       NaN  ...             NaN
            2011                        NaN       NaN  ...             NaN
            2012                        NaN       NaN  ...             NaN
            2013                        NaN       NaN  ...             NaN
            2014                        NaN       NaN  ...             NaN
Albania     2003                        NaN       NaN  ...             NaN
            2004                        NaN       NaN  ...             NaN
            2005                       89.0      49.0  ...             NaN

                  Theft_Rel  Robbery_Rel  Burglary_Rel  Domestic_Burglary_Rel  \
Region      Year
Afghanistan 2003        NaN          NaN           NaN                    NaN
            2004        NaN          NaN           NaN                    NaN
            2005        NaN          NaN           NaN                    NaN
            2006        NaN          NaN           NaN                    NaN
            2007        NaN          NaN           NaN                    NaN
            2008        NaN          NaN           NaN                    NaN
            2009        NaN          NaN           NaN                    NaN
            2010        NaN          NaN           NaN                    NaN
            2011        NaN          NaN           NaN                    NaN
            2012        NaN          NaN           NaN                    NaN
            2013        NaN          NaN           NaN                    NaN
            2014        NaN          NaN           NaN                    NaN
Albania     2003        NaN          NaN           NaN                    NaN
            2004        NaN          NaN           NaN                    NaN
            2005       96.9          6.5           6.5                   21.9

                  Theft_of_Private_Cars_Rel  Motor_Vehicle_Theft_Rel  \
Region      Year
Afghanistan 2003                        NaN                      NaN
            2004                        NaN                      NaN
            2005                        NaN                      NaN
            2006                        NaN                      NaN
            2007                        NaN                      NaN
            2008                        NaN                      NaN
            2009                        NaN                      NaN
            2010                        NaN                      NaN
            2011                        NaN                      NaN
            2012                        NaN                      NaN
            2013                        NaN                      NaN
            2014                        NaN                      NaN
Albania     2003                        NaN                      NaN
            2004                        NaN                      NaN
            2005                       23.0                     23.0

                  Total_Sexual_Violence_Rel  Rape_Rel  \
Region      Year
Afghanistan 2003                        NaN       NaN
            2004                        NaN       NaN
            2005                        NaN       NaN
            2006                        NaN       NaN
            2007                        NaN       NaN
            2008                        NaN       NaN
            2009                        NaN       NaN
            2010                        NaN       NaN
            2011                        NaN       NaN
            2012                        NaN       NaN
            2013                        NaN       NaN
            2014                        NaN       NaN
Albania     2003                        NaN       NaN
            2004                        NaN       NaN
            2005                        2.9       1.6

                  Sexual_Offences_ag_Children_Rel
Region      Year
Afghanistan 2003                              NaN
            2004                              NaN
            2005                              NaN
            2006                              NaN
            2007                              NaN
            2008                              NaN
            2009                              NaN
            2010                              NaN
            2011                              NaN
            2012                              NaN
            2013                              NaN
            2014                              NaN
Albania     2003                              NaN
            2004                              NaN
            2005                              2.9

[15 rows x 22 columns]

In [ ]:
df=pd.read_csv('Crimes_UN_data.csv', skiprows=[0],thousands=",", encoding='latin1')
cols = list(df.columns)
cols[1] = 'Region'
df.columns = cols
pivoted = pd.pivot_table(df, values='Value', index=['Region', 'Year'], columns='Series', aggfunc=sum)

un_crimes=pivoted
un_crimes=un_crimes.rename({"United States of America": "United States"}, axis='index')

In [ ]:
import numpy as np
corruption=pd.read_csv("theglobaleconomy_corruption.csv", sep=", ")
corruption["Rule of law"]=corruption["Rule of law"].astype(float)

corruption["Corruption perceptions - Transparency International"]=corruption["Corruption perceptions - Transparency International"].str.replace(",","").fillna(-1).astype(int).replace(-1, np.nan)
corruption.set_index(["Country","Code","Year"],inplace=True)
corruption_avg=pd.DataFrame()
corruption
corruption_avg["Rule of law"]=2.5-corruption["Rule of law"].unstack(level=2).mean(axis=1)
corruption_avg["Corruption Perception"]=100-corruption["Corruption perceptions - Transparency International"].unstack(level=2).mean(axis=1)
corruption_avg[["Rule of law","Corruption Perception"]]-=corruption_avg[["Rule of law","Corruption Perception"]].mean(axis=0)
corruption_avg[["Rule of law","Corruption Perception"]]/=corruption_avg[["Rule of law","Corruption Perception"]].std(axis=0)
corruption_avg["corruption_score"]=corruption_avg.mean(axis=1)
corruption_avg.reset_index(inplace=True)
corruption_avg.set_index(["Country"],inplace=True)
corruption_avg[:10]

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1625895406.py:2: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

                    Code  Rule of law  Corruption Perception  corruption_score
Country
Afghanistan          AFG     1.692312               1.563656          1.627984
Albania              ALB     0.516100               0.554086          0.535093
Algeria              DZA     0.711616               0.516025          0.613820
Andorra              AND    -1.318323                    NaN         -1.318323
Angola               AGO     1.283364               1.064104          1.173734
Antigua and Barbuda  ATG    -0.861860                    NaN         -0.861860
Argentina            ARG     0.648521               0.569310          0.608916
Armenia              ARM     0.382900               0.527443          0.455171
Aruba                ABW    -1.172465                    NaN         -1.172465
Australia            AUS    -1.852682              -2.182505         -2.017594

In [ ]:
import numpy as np
corruption=pd.read_csv("theglobaleconomy_corruption.csv", sep=", ")
corruption["Rule of law"]=corruption["Rule of law"].astype(float)

corruption["Corruption perceptions - Transparency International"]=corruption["Corruption perceptions - Transparency International"].str.replace(",","").fillna(-1).astype(int).replace(-1, np.nan)
corruption.set_index(["Country","Code","Year"],inplace=True)
corruption_avg=pd.DataFrame()
corruption
corruption_avg["Rule of law"]=2.5-corruption["Rule of law"].unstack(level=2).mean(axis=1)
corruption_avg["Corruption Perception"]=100-corruption["Corruption perceptions - Transparency International"].unstack(level=2).mean(axis=1)
corruption_avg[["Rule of law","Corruption Perception"]]-=corruption_avg[["Rule of law","Corruption Perception"]].mean(axis=0)
corruption_avg[["Rule of law","Corruption Perception"]]/=corruption_avg[["Rule of law","Corruption Perception"]].std(axis=0)
corruption_avg["corruption_score"]=corruption_avg.mean(axis=1)
corruption_avg.reset_index(inplace=True)
corruption_avg.set_index(["Country"],inplace=True)
corruption_avg[:10]

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_29159/1625895406.py:2: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

                    Code  Rule of law  Corruption Perception  corruption_score
Country
Afghanistan          AFG     1.692312               1.563656          1.627984
Albania              ALB     0.516100               0.554086          0.535093
Algeria              DZA     0.711616               0.516025          0.613820
Andorra              AND    -1.318323                    NaN         -1.318323
Angola               AGO     1.283364               1.064104          1.173734
Antigua and Barbuda  ATG    -0.861860                    NaN         -0.861860
Argentina            ARG     0.648521               0.569310          0.608916
Armenia              ARM     0.382900               0.527443          0.455171
Aruba                ABW    -1.172465                    NaN         -1.172465
Australia            AUS    -1.852682              -2.182505         -2.017594

In [ ]:
corruption_avg

            Code  Rule of law  Corruption Perception  corruption_score
Country
Afghanistan  AFG     1.692312               1.563656          1.627984
Albania      ALB     0.516100               0.554086          0.535093
Algeria      DZA     0.711616               0.516025          0.613820
Andorra      AND    -1.318323                    NaN         -1.318323
Angola       AGO     1.283364               1.064104          1.173734
...          ...          ...                    ...               ...
Venezuela    VEN     1.578586               1.037461          1.308023
Vietnam      VNM     0.456121               0.668269          0.562195
Yemen        YEM     1.133027               0.930890          1.031959
Zambia       ZMB     0.381342               0.523637          0.452489
Zimbabwe     ZWE     1.676733               0.957533          1.317133

[196 rows x 4 columns]

In [ ]:
unodc_max_cat["max_cat"]=unodc_avg_year[fields].idxmax(axis=1)
unodc_max_cat["CODE"]=unodc["CODE"]
unodc_max_cat["max_cat_ind"]=unodc_max_cat["max_cat"].map(dict((f[1],f[0]+1)for f in enumerate(fields)))
unodc_max_cat["max_cat_ind"]=unodc_max_cat["max_cat_ind"].fillna(0)

In [ ]:
unodc_max_cat

                                    max_cat CODE  max_cat_ind
Country
Burundi                                Rape  BDI         10.0
Kenya                               Robbery  KEN          4.0
Mauritius       Sexual_Offences_ag_Children  MUS         11.0
Mozambique                          Robbery  MOZ          4.0
Rwanda          Sexual_Offences_ag_Children  RWA         11.0
...                                     ...  ...          ...
Venezuela                               NaN  VEN          0.0
Vietnam                                 NaN  VNM          0.0
Virgin Islands                          NaN  VGB          0.0
West Bank                               NaN  WBG          0.0
Zambia                                  NaN  ZMB          0.0

[238 rows x 3 columns]

In [ ]:
unodc_max_cat

Empty DataFrame
Columns: []
Index: []

In [ ]:
my_countries=unodc_mult.index.levels[0]
plot_countries=["United States","Sweden","Austria","Mexico","Croatia"]
fields_rel=[f+"_Rel" for f in fields]
unodc_avg_region_all=pd.DataFrame()
unodc_avg_region=unodc_mult.loc[my_countries][fields_rel]
unodc_avg_region-=unodc_avg_region.mean()
unodc_avg_region/=unodc_avg_region.std()
unodc_avg_region_all["crime_score_raw"]=unodc_avg_region.mean(axis=1)

unodc_avg_region_all["corruption_score"]=0
for cntr in unodc_avg_region_all.index.levels[0]:
    try:
        unodc_avg_region_all["corruption_score"].loc[cntr]=corruption_avg["corruption_score"].loc[cntr]
    except Exception:
        continue
unodc_avg_region_all["crime_score"]=unodc_avg_region_all["crime_score_raw"]+unodc_avg_region_all["corruption_score"]/4
#unodc_avg_region_all["crime_score"]-=unodc_avg_region_all["crime_score"].min()
unodc_avg_region_all[:20]

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_7111/643955659.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  crime_score_raw  corruption_score  crime_score
Region      Year
Afghanistan 2003              NaN          1.627984          NaN
            2004              NaN          1.627984          NaN
            2005              NaN          1.627984          NaN
            2006              NaN          1.627984          NaN
            2007              NaN          1.627984          NaN
            2008              NaN          1.627984          NaN
            2009              NaN          1.627984          NaN
            2010              NaN          1.627984          NaN
            2011              NaN          1.627984          NaN
            2012              NaN          1.627984          NaN
            2013              NaN          1.627984          NaN
            2014              NaN          1.627984          NaN
Albania     2003              NaN          0.535093          NaN
            2004              NaN          0.535093          NaN
            2005        -0.687076          0.535093    -0.553303
            2006        -0.679519          0.535093    -0.545746
            2007        -0.679460          0.535093    -0.545687
            2008        -0.686323          0.535093    -0.552550
            2009        -0.678499          0.535093    -0.544726
            2010        -0.666868          0.535093    -0.533094

In [ ]:
hf = unodc_avg_region_all.fillna(0)
hf

                  crime_score_raw  corruption_score  crime_score
Region      Year
Afghanistan 2003              0.0          1.627984          0.0
            2004              0.0          1.627984          0.0
            2005              0.0          1.627984          0.0
            2006              0.0          1.627984          0.0
            2007              0.0          1.627984          0.0
...                           ...               ...          ...
Zimbabwe    2010              0.0          1.317133          0.0
            2011              0.0          1.317133          0.0
            2012              0.0          1.317133          0.0
            2013              0.0          1.317133          0.0
            2014              0.0          1.317133          0.0

[2856 rows x 3 columns]

In [ ]:
# Assuming your DataFrame is named 'df'
hf.reset_index(inplace=True)
hf

           Region  Year  crime_score_raw  corruption_score  crime_score
0     Afghanistan  2003              0.0          1.627984          0.0
1     Afghanistan  2004              0.0          1.627984          0.0
2     Afghanistan  2005              0.0          1.627984          0.0
3     Afghanistan  2006              0.0          1.627984          0.0
4     Afghanistan  2007              0.0          1.627984          0.0
...           ...   ...              ...               ...          ...
2851     Zimbabwe  2010              0.0          1.317133          0.0
2852     Zimbabwe  2011              0.0          1.317133          0.0
2853     Zimbabwe  2012              0.0          1.317133          0.0
2854     Zimbabwe  2013              0.0          1.317133          0.0
2855     Zimbabwe  2014              0.0          1.317133          0.0

[2856 rows x 5 columns]

In [ ]:
nm

,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,Prisoners per 1000,Rape rate,Robberies,Software piracy rate,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million,GDP (BILLIONS),CODE
Country,,,,,,,,,,,,,,,,,
Guatemala,0.0,48.1,63.0,81.82,84.09,NaN,52.0,62.1,8307.0,0.706033,2.9,102.8,80.0,0.1,0.008499,58.30,GTM
Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,1.069013,2.1,14.2,81.0,7.7,0.233330,62.72,KEN
Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,NaN,4744.0,1.812420,24.4,90.8,NaN,0.0,0.000000,13.92,JAM
El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,1.839952,11.0,92.0,81.0,1.7,0.282942,25.14,SLV
Zambia,6.0,211.4,7.6,NaN,NaN,4.0,NaN,17.4,13173.0,1.239762,NaN,25.8,82.0,60.4,5.684480,25.61,ZMB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.08,UZB
Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.82,VUT
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.80,VNM
Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.08,VGB
West Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.64,WBG

In [ ]:
# Assuming 'hf' DataFrame has 'Region' and 'Year' as indexes, and 'nm' DataFrame has 'Country' as index

# Reset the index of 'hf' DataFrame to convert 'Region' and 'Year' to regular columns
hf.reset_index(inplace=True)

# Reset the index of 'nm' DataFrame to convert 'Country' to a regular column
nm.reset_index(inplace=True)

# Merge 'hf' and 'nm' DataFrames based on 'Region' and 'Country' columns using an inner join
merged_df = hf.merge(nm, left_on='Region', right_on='Country', how='inner')

# Drop the duplicate 'Country' column after merging
merged_df.drop(columns='Country', inplace=True)

In [ ]:
merged_df

,index_x,Region,Year,crime_score_raw,corruption_score,crime_score,index_y,Assaults,Auto theft,Believes crime increasing in the past 3 years,...,Prison staff,Prisoners,Prisoners per 1000,Rape rate,Robberies,Software piracy rate,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million,GDP (BILLIONS),CODE
0,0,Afghanistan,2003,0.0,1.627984,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.71,AFG
1,1,Afghanistan,2004,0.0,1.627984,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.71,AFG
2,2,Afghanistan,2005,0.0,1.627984,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.71,AFG
3,3,Afghanistan,2006,0.0,1.627984,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.71,AFG
4,4,Afghanistan,2007,0.0,1.627984,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.71,AFG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2659,2851,Zimbabwe,2010,0.0,1.317133,0.0,100.0,765.1,8.8,68.18,...,61.7,0.0,0.0,25.6,101.4,91.0,45.6,3.607332,13.74,ZWE
2660,2852,Zimbabwe,2011,0.0,1.317133,0.0,100.0,765.1,8.8,68.18,...,61.7,0.0,0.0,25.6,101.4,91.0,45.6,3.607332,13.74,ZWE
2661,2853,Zimbabwe,2012,0.0,1.317133,0.0,100.0,765.1,8.8,68.18,...,61.7,0.0,0.0,25.6,101.4,91.0,45.6,3.607332,13.74,ZWE
2662,2854,Zimbabwe,2013,0.0,1.317133,0.0,100.0,765.1,8.8,68.18,...,61.7,0.0,0.0,25.6,101.4,91.0,45.6,3.607332,13.74,ZWE
2663,2855,Zimbabwe,2014,0.0,1.317133,0.0,100.0,765.1,8.8,68.18,...,61.7,0.0,0.0,25.6,101.4,91.0,45.6,3.607332,13.74,ZWE

In [ ]:
merged_df.columns

Index(['index_x', 'Region', 'Year', 'crime_score_raw', 'corruption_score',
       'crime_score', 'index_y', 'Assaults', 'Auto theft',
       'Believes crime increasing in the past 3 years', 'Crime levels',
       'Drug related crime', 'Murder rate', 'Prison staff', 'Prisoners',
       'Prisoners per 1000', 'Rape rate', 'Robberies', 'Software piracy rate',
       'Unpaid diplomatic parking fines',
       'Unpaid diplomatic parking fines per million', 'GDP (BILLIONS)',
       'CODE'],
      dtype='object')

In [ ]:
nm

#  total crimes per 1000

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,Prisoners per 1000,Rape rate,Robberies,Software piracy rate,Unpaid diplomatic parking fines,Unpaid diplomatic parking fines per million,GDP (BILLIONS),CODE
0,Guatemala,0.0,48.1,63.0,81.82,84.09,NaN,52.0,62.1,8307.0,0.706033,2.9,102.8,80.0,0.1,0.008499,58.30,GTM
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,1.069013,2.1,14.2,81.0,7.7,0.233330,62.72,KEN
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,NaN,4744.0,1.812420,24.4,90.8,NaN,0.0,0.000000,13.92,JAM
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,1.839952,11.0,92.0,81.0,1.7,0.282942,25.14,SLV
4,Zambia,6.0,211.4,7.6,NaN,NaN,4.0,NaN,17.4,13173.0,1.239762,NaN,25.8,82.0,60.4,5.684480,25.61,ZMB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.08,UZB
220,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.82,VUT
221,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.80,VNM
222,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.08,VGB
223,West Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.64,WBG

In [ ]:
unodc_avg

# crime score

                crime_score CODE
Country
Burundi            0.242113  BDI
Kenya              0.175059  KEN
Mauritius          0.559570  MUS
Mozambique         0.107771  MOZ
Rwanda             0.213872  RWA
...                     ...  ...
Venezuela          0.000000  VEN
Vietnam            0.000000  VNM
Virgin Islands     0.000000  VGB
West Bank          0.000000  WBG
Zambia             0.605470  ZMB

[238 rows x 2 columns]

In [ ]:
unodc_max_cat

#max crime

                                    max_cat CODE  max_cat_ind
Country
Burundi                                Rape  BDI         10.0
Kenya                               Robbery  KEN          4.0
Mauritius       Sexual_Offences_ag_Children  MUS         11.0
Mozambique                          Robbery  MOZ          4.0
Rwanda          Sexual_Offences_ag_Children  RWA         11.0
...                                     ...  ...          ...
Venezuela                               NaN  VEN          0.0
Vietnam                                 NaN  VNM          0.0
Virgin Islands                          NaN  VGB          0.0
West Bank                               NaN  WBG          0.0
Zambia                                  NaN  ZMB          0.0

[238 rows x 3 columns]

In [ ]:
unodc_w

,crime_score,CODE,Code,Rule of law,Corruption Perception,corruption_score,crime_score_w
Country,,,,,,,
Burundi,0.242113,BDI,BDI,1.121343,1.025005,1.073174,0.599838
Kenya,0.175059,KEN,KEN,0.791069,0.927084,0.859077,0.461418
Mauritius,0.559570,MUS,MUS,-0.997397,-0.419643,-0.708520,0.323397
Mozambique,0.107771,MOZ,MOZ,0.619700,0.649238,0.634469,0.319261
Rwanda,0.213872,RWA,RWA,0.405489,0.039915,0.222702,0.288106
...,...,...,...,...,...,...,...
Uzbekistan,0.315324,UZB,UZB,1.274017,1.113583,1.193800,0.713257
Vanuatu,0.243704,VUT,VUT,-0.357101,0.433052,0.037975,0.256363
Venezuela,0.000000,VEN,VEN,1.578586,1.037461,1.308023,0.436008
Vietnam,0.000000,VNM,VNM,0.456121,0.668269,0.562195,0.187398
Zambia,0.605470,ZMB,ZMB,0.381342,0.523637,0.452489,0.756300

In [ ]:
#merging all the datasets with the original one



import pandas as pd


merged_df = pd.merge(nm, unodc_avg, on='Country', how='outer')

merged_df = pd.merge(merged_df, unodc_max_cat, on='Country', how='outer')

merged_df = pd.merge(merged_df, unodc_w, on='Country', how='outer')

merged_df

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_7111/1694251004.py:12: FutureWarning:

Passing 'suffixes' which cause duplicate columns {'CODE_x'} in the result is deprecated and will raise a MergeError in a future version.

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,max_cat,CODE_x,max_cat_ind,crime_score_y,CODE_y,Code,Rule of law,Corruption Perception,corruption_score,crime_score_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,NaN,52.0,62.1,8307.0,...,Robbery,GTM,4.0,0.638701,GTM,GTM,1.013848,0.634014,0.823931,0.913345
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,Robbery,KEN,4.0,0.175059,KEN,KEN,0.791069,0.927084,0.859077,0.461418
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,NaN,4744.0,...,Sexual_Offences_ag_Children,JAM,11.0,1.378014,JAM,JAM,0.336163,0.299077,0.317620,1.483888
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,Sexual_Offences_ag_Children,SLV,11.0,1.476806,SLV,SLV,0.574521,0.150638,0.362580,1.597666
4,Zambia,6.0,211.4,7.6,NaN,NaN,4.0,NaN,17.4,13173.0,...,NaN,ZMB,0.0,0.605470,ZMB,ZMB,0.381342,0.523637,0.452489,0.756300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,United Kingdom (Scotland),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Total_Sexual_Violence,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Kosovo under UNSCR 1244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Burglary,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,The former Yugoslav Rep. of Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Burglary,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Holy See,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Robbery,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Iran (Islamic Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Motor_Vehicle_Theft,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged_df

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,max_cat,CODE_x,max_cat_ind,crime_score_y,CODE_y,Code,Rule of law,Corruption Perception,corruption_score,crime_score_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,NaN,52.0,62.1,8307.0,...,Robbery,GTM,4.0,0.638701,GTM,GTM,1.013848,0.634014,0.823931,0.913345
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,Robbery,KEN,4.0,0.175059,KEN,KEN,0.791069,0.927084,0.859077,0.461418
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,NaN,4744.0,...,Sexual_Offences_ag_Children,JAM,11.0,1.378014,JAM,JAM,0.336163,0.299077,0.317620,1.483888
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,Sexual_Offences_ag_Children,SLV,11.0,1.476806,SLV,SLV,0.574521,0.150638,0.362580,1.597666
4,Zambia,6.0,211.4,7.6,NaN,NaN,4.0,NaN,17.4,13173.0,...,NaN,ZMB,0.0,0.605470,ZMB,ZMB,0.381342,0.523637,0.452489,0.756300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,United Kingdom (Scotland),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Total_Sexual_Violence,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Kosovo under UNSCR 1244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Burglary,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,The former Yugoslav Rep. of Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Burglary,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Holy See,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Robbery,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Iran (Islamic Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Motor_Vehicle_Theft,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
new_dataset = merged_df.fillna(0)
new_dataset

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,max_cat,CODE_x,max_cat_ind,crime_score_y,CODE_y,Code,Rule of law,Corruption Perception,corruption_score,crime_score_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,Robbery,GTM,4.0,0.638701,GTM,GTM,1.013848,0.634014,0.823931,0.913345
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,Robbery,KEN,4.0,0.175059,KEN,KEN,0.791069,0.927084,0.859077,0.461418
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,Sexual_Offences_ag_Children,JAM,11.0,1.378014,JAM,JAM,0.336163,0.299077,0.317620,1.483888
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,Sexual_Offences_ag_Children,SLV,11.0,1.476806,SLV,SLV,0.574521,0.150638,0.362580,1.597666
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,0,ZMB,0.0,0.605470,ZMB,ZMB,0.381342,0.523637,0.452489,0.756300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,United Kingdom (Scotland),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,Total_Sexual_Violence,0,9.0,0.000000,0,0,0.000000,0.000000,0.000000,0.000000
236,Kosovo under UNSCR 1244,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,Burglary,0,5.0,0.000000,0,0,0.000000,0.000000,0.000000,0.000000
237,The former Yugoslav Rep. of Macedonia,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,Burglary,0,5.0,0.000000,0,0,0.000000,0.000000,0.000000,0.000000
238,Holy See,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,Robbery,0,4.0,0.000000,0,0,0.000000,0.000000,0.000000,0.000000
239,Iran (Islamic Republic of),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,Motor_Vehicle_Theft,0,8.0,0.000000,0,0,0.000000,0.000000,0.000000,0.000000

In [ ]:
columns_to_drop = ['CODE_x','CODE_y','crime_score_y']
new_dataset.drop(columns_to_drop, axis = 1, inplace = True)
new_dataset

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,Unpaid diplomatic parking fines per million,GDP (BILLIONS),crime_score_x,max_cat,max_cat_ind,Code,Rule of law,Corruption Perception,corruption_score,crime_score_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,0.008499,58.30,0.638701,Robbery,4.0,GTM,1.013848,0.634014,0.823931,0.913345
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,0.233330,62.72,0.175059,Robbery,4.0,KEN,0.791069,0.927084,0.859077,0.461418
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,0.000000,13.92,1.378014,Sexual_Offences_ag_Children,11.0,JAM,0.336163,0.299077,0.317620,1.483888
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,0.282942,25.14,1.476806,Sexual_Offences_ag_Children,11.0,SLV,0.574521,0.150638,0.362580,1.597666
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,5.684480,25.61,0.605470,0,0.0,ZMB,0.381342,0.523637,0.452489,0.756300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,United Kingdom (Scotland),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,1.743492,Total_Sexual_Violence,9.0,0,0.000000,0.000000,0.000000,0.000000
236,Kosovo under UNSCR 1244,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,0.444187,Burglary,5.0,0,0.000000,0.000000,0.000000,0.000000
237,The former Yugoslav Rep. of Macedonia,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,0.310755,Burglary,5.0,0,0.000000,0.000000,0.000000,0.000000
238,Holy See,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,0.000000,Robbery,4.0,0,0.000000,0.000000,0.000000,0.000000
239,Iran (Islamic Republic of),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,0.270073,Motor_Vehicle_Theft,8.0,0,0.000000,0.000000,0.000000,0.000000

In [ ]:
#Renaming crime_score_x

new_dataset.rename(columns={'crime_score_x': 'crime_score_raw'}, inplace=True)

new_dataset

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,Unpaid diplomatic parking fines per million,GDP (BILLIONS),crime_score_raw,max_cat,max_cat_ind,Code,Rule of law,Corruption Perception,corruption_score,crime_score_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,0.008499,58.30,0.638701,Robbery,4.0,GTM,1.013848,0.634014,0.823931,0.913345
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,0.233330,62.72,0.175059,Robbery,4.0,KEN,0.791069,0.927084,0.859077,0.461418
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,0.000000,13.92,1.378014,Sexual_Offences_ag_Children,11.0,JAM,0.336163,0.299077,0.317620,1.483888
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,0.282942,25.14,1.476806,Sexual_Offences_ag_Children,11.0,SLV,0.574521,0.150638,0.362580,1.597666
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,5.684480,25.61,0.605470,0,0.0,ZMB,0.381342,0.523637,0.452489,0.756300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,United Kingdom (Scotland),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,1.743492,Total_Sexual_Violence,9.0,0,0.000000,0.000000,0.000000,0.000000
236,Kosovo under UNSCR 1244,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,0.444187,Burglary,5.0,0,0.000000,0.000000,0.000000,0.000000
237,The former Yugoslav Rep. of Macedonia,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,0.310755,Burglary,5.0,0,0.000000,0.000000,0.000000,0.000000
238,Holy See,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,0.000000,Robbery,4.0,0,0.000000,0.000000,0.000000,0.000000
239,Iran (Islamic Republic of),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.00,0.270073,Motor_Vehicle_Theft,8.0,0,0.000000,0.000000,0.000000,0.000000

In [ ]:
#Normalising the dataset


import pandas as pd
year_incl = pd.read_csv('year incl.csv')
year_incl[:20]

#normalising the crime_score_raw and crime_score for the region dataset

min_score = year_incl['crime_score_raw'].min()
max_score =year_incl['crime_score_raw'].max()

# Define the desired range for normalization (1 to 10)
new_min = 1
new_max = 10

# Perform Min-Max normalization
year_incl['nor_crime_score_regi_raw'] = (year_incl['crime_score_raw'] - min_score) * (new_max - new_min) / (max_score - min_score)
+ new_min



min_score = year_incl['crime_score'].min()
max_score =year_incl['crime_score'].max()

# Define the desired range for normalization (1 to 10)
new_min = 1
new_max = 10

# Perform Min-Max normalization
year_incl['nor_crime_score_regi_w'] = (year_incl['crime_score'] - min_score) * (new_max - new_min) / (max_score - min_score)
+ new_min


year_incl

,Region,Year,crime_score_raw,corruption_score,crime_score,nor_crime_score_regi_raw,nor_crime_score_regi_w
0,Afghanistan,2003,0.0,1.627984,0.0,2.031899,2.460707
1,Afghanistan,2004,0.0,1.627984,0.0,2.031899,2.460707
2,Afghanistan,2005,0.0,1.627984,0.0,2.031899,2.460707
3,Afghanistan,2006,0.0,1.627984,0.0,2.031899,2.460707
4,Afghanistan,2007,0.0,1.627984,0.0,2.031899,2.460707
...,...,...,...,...,...,...,...
2851,Zimbabwe,2010,0.0,1.317133,0.0,2.031899,2.460707
2852,Zimbabwe,2011,0.0,1.317133,0.0,2.031899,2.460707
2853,Zimbabwe,2012,0.0,1.317133,0.0,2.031899,2.460707
2854,Zimbabwe,2013,0.0,1.317133,0.0,2.031899,2.460707
2855,Zimbabwe,2014,0.0,1.317133,0.0,2.031899,2.460707

In [ ]:
new_dataset.fillna(0)

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,crime_score_raw,max_cat,max_cat_ind,Code,Rule of law,Corruption Perception,corruption_score,crime_score_w,nor_crime_score_raw,nor_crime_score_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,0.638701,Robbery,4.0,GTM,1.013848,0.634014,0.823931,0.913345,1.751845,3.561287
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,0.175059,Robbery,4.0,KEN,0.791069,0.927084,0.859077,0.461418,0.480156,2.494827
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,1.378014,Sexual_Offences_ag_Children,11.0,JAM,0.336163,0.299077,0.317620,1.483888,3.779651,4.907656
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,1.476806,Sexual_Offences_ag_Children,11.0,SLV,0.574521,0.150638,0.362580,1.597666,4.050620,5.176151
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,0.605470,0,0.0,ZMB,0.381342,0.523637,0.452489,0.756300,1.660697,3.190691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,United Kingdom (Scotland),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,1.743492,Total_Sexual_Violence,9.0,0,0.000000,0.000000,0.000000,0.000000,4.782094,1.405972
236,Kosovo under UNSCR 1244,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.444187,Burglary,5.0,0,0.000000,0.000000,0.000000,0.000000,1.218326,1.405972
237,The former Yugoslav Rep. of Macedonia,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.310755,Burglary,5.0,0,0.000000,0.000000,0.000000,0.000000,0.852347,1.405972
238,Holy See,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,Robbery,4.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.405972
239,Iran (Islamic Republic of),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.270073,Motor_Vehicle_Theft,8.0,0,0.000000,0.000000,0.000000,0.000000,0.740763,1.405972

In [ ]:
#Normalising the new_dataset

#normalising the crime_score_raw and crime_score for the region dataset

min_score = new_dataset['crime_score_raw'].min()
max_score =new_dataset['crime_score_raw'].max()

# Define the desired range for normalization (1 to 10)
new_min = 1
new_max = 10

# Perform Min-Max normalization
new_dataset['nor_crime_score_raw'] = (new_dataset['crime_score_raw'] - min_score) * (new_max - new_min) / (max_score - min_score)
+ new_min



min_score = new_dataset['crime_score_w'].min()
max_score =new_dataset['crime_score_w'].max()

# Define the desired range for normalization (1 to 10)
new_min = 1
new_max = 10

# Perform Min-Max normalization
new_dataset['nor_crime_score_w'] = (new_dataset['crime_score_w'] - min_score) * (new_max - new_min) / (max_score - min_score)
+ new_min


new_dataset

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,crime_score_raw,max_cat,max_cat_ind,Code,Rule of law,Corruption Perception,corruption_score,crime_score_w,nor_crime_score_raw,nor_crime_score_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,0.638701,Robbery,4.0,GTM,1.013848,0.634014,0.823931,0.913345,1.751845,3.561287
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,0.175059,Robbery,4.0,KEN,0.791069,0.927084,0.859077,0.461418,0.480156,2.494827
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,1.378014,Sexual_Offences_ag_Children,11.0,JAM,0.336163,0.299077,0.317620,1.483888,3.779651,4.907656
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,1.476806,Sexual_Offences_ag_Children,11.0,SLV,0.574521,0.150638,0.362580,1.597666,4.050620,5.176151
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,0.605470,0,0.0,ZMB,0.381342,0.523637,0.452489,0.756300,1.660697,3.190691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,United Kingdom (Scotland),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,1.743492,Total_Sexual_Violence,9.0,0,0.000000,0.000000,0.000000,0.000000,4.782094,1.405972
236,Kosovo under UNSCR 1244,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.444187,Burglary,5.0,0,0.000000,0.000000,0.000000,0.000000,1.218326,1.405972
237,The former Yugoslav Rep. of Macedonia,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.310755,Burglary,5.0,0,0.000000,0.000000,0.000000,0.000000,0.852347,1.405972
238,Holy See,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000000,Robbery,4.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.405972
239,Iran (Islamic Republic of),0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.270073,Motor_Vehicle_Theft,8.0,0,0.000000,0.000000,0.000000,0.000000,0.740763,1.405972

In [ ]:
final = pd.concat([new_dataset, year_incl], axis=1)
final

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,crime_score_w,nor_crime_score_raw,nor_crime_score_w,Region,Year,crime_score_raw,corruption_score,crime_score,nor_crime_score_regi_raw,nor_crime_score_regi_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,0.913345,1.751845,3.561287,Afghanistan,2003,0.0,1.627984,0.0,2.031899,2.460707
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,0.461418,0.480156,2.494827,Afghanistan,2004,0.0,1.627984,0.0,2.031899,2.460707
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,1.483888,3.779651,4.907656,Afghanistan,2005,0.0,1.627984,0.0,2.031899,2.460707
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,1.597666,4.050620,5.176151,Afghanistan,2006,0.0,1.627984,0.0,2.031899,2.460707
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,0.756300,1.660697,3.190691,Afghanistan,2007,0.0,1.627984,0.0,2.031899,2.460707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2010,0.0,1.317133,0.0,2.031899,2.460707
2852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2011,0.0,1.317133,0.0,2.031899,2.460707
2853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2012,0.0,1.317133,0.0,2.031899,2.460707
2854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2013,0.0,1.317133,0.0,2.031899,2.460707
2855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2014,0.0,1.317133,0.0,2.031899,2.460707

In [ ]:
final

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,crime_score_w,nor_crime_score_raw,nor_crime_score_w,Region,Year,crime_score_raw,corruption_score,crime_score,nor_crime_score_regi_raw,nor_crime_score_regi_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,0.913345,1.751845,3.561287,Afghanistan,2003,0.0,1.627984,0.0,2.031899,2.460707
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,0.461418,0.480156,2.494827,Afghanistan,2004,0.0,1.627984,0.0,2.031899,2.460707
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,1.483888,3.779651,4.907656,Afghanistan,2005,0.0,1.627984,0.0,2.031899,2.460707
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,1.597666,4.050620,5.176151,Afghanistan,2006,0.0,1.627984,0.0,2.031899,2.460707
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,0.756300,1.660697,3.190691,Afghanistan,2007,0.0,1.627984,0.0,2.031899,2.460707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2010,0.0,1.317133,0.0,2.031899,2.460707
2852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2011,0.0,1.317133,0.0,2.031899,2.460707
2853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2012,0.0,1.317133,0.0,2.031899,2.460707
2854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2013,0.0,1.317133,0.0,2.031899,2.460707
2855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2014,0.0,1.317133,0.0,2.031899,2.460707

In [ ]:
final.shape

(2856, 34)

In [ ]:
final

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,crime_score_w,nor_crime_score_raw,nor_crime_score_w,Region,Year,crime_score_raw,corruption_score,crime_score,nor_crime_score_regi_raw,nor_crime_score_regi_w
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,0.913345,1.751845,3.561287,Afghanistan,2003,0.0,1.627984,0.0,2.031899,2.460707
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,0.461418,0.480156,2.494827,Afghanistan,2004,0.0,1.627984,0.0,2.031899,2.460707
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,1.483888,3.779651,4.907656,Afghanistan,2005,0.0,1.627984,0.0,2.031899,2.460707
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,1.597666,4.050620,5.176151,Afghanistan,2006,0.0,1.627984,0.0,2.031899,2.460707
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,0.756300,1.660697,3.190691,Afghanistan,2007,0.0,1.627984,0.0,2.031899,2.460707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2010,0.0,1.317133,0.0,2.031899,2.460707
2852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2011,0.0,1.317133,0.0,2.031899,2.460707
2853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2012,0.0,1.317133,0.0,2.031899,2.460707
2854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2013,0.0,1.317133,0.0,2.031899,2.460707
2855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Zimbabwe,2014,0.0,1.317133,0.0,2.031899,2.460707

In [ ]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2856 entries, 0 to 2855
Data columns (total 34 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Country                                        240 non-null    object
 1   index                                          240 non-null    float64
 2   Assaults                                       240 non-null    float64
 3   Auto theft                                     240 non-null    float64
 4   Believes crime increasing in the past 3 years  240 non-null    float64
 5   Crime levels                                   240 non-null    float64
 6   Drug related crime                             240 non-null    float64
 7   Murder rate                                    240 non-null    float64
 8   Prison staff                                   240 non-null    float64
 9   Prisoners                                      240 non-null    float64
 10  Prisoners per 1000                             240 non-null    float64
 11  Rape rate                                      240 non-null    float64
 12  Robberies                                      240 non-null    float64
 13  Software piracy rate                           240 non-null    float64
 14  Unpaid diplomatic parking fines                240 non-null    float64
 15  Unpaid diplomatic parking fines per million    240 non-null    float64
 16  GDP (BILLIONS)                                 240 non-null    float64
 17  crime_score_raw                                240 non-null    float64
 18  max_cat                                        240 non-null    object
 19  max_cat_ind                                    240 non-null    float64
 20  Code                                           240 non-null    object
 21  Rule of law                                    240 non-null    float64
 22  Corruption Perception                          240 non-null    float64
 23  corruption_score                               240 non-null    float64
 24  crime_score_w                                  240 non-null    float64
 25  nor_crime_score_raw                            240 non-null    float64
 26  nor_crime_score_w                              240 non-null    float64
 27  Region                                         2856 non-null   object
 28  Year                                           2856 non-null   int64
 29  crime_score_raw                                2856 non-null   float64
 30  corruption_score                               2856 non-null   float64
 31  crime_score                                    2856 non-null   float64
 32  nor_crime_score_regi_raw                       2856 non-null   float64
 33  nor_crime_score_regi_w                         2856 non-null   float64
dtypes: float64(29), int64(1), object(4)
memory usage: 780.9+ KB

In [ ]:
final.describe()

,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,Prisoners per 1000,...,corruption_score,crime_score_w,nor_crime_score_raw,nor_crime_score_w,Year,crime_score_raw,corruption_score,crime_score,nor_crime_score_regi_raw,nor_crime_score_regi_w
count,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,2.400000e+02,240.000000,...,240.000000,240.000000,240.000000,240.000000,2856.000000,2856.000000,2856.000000,2856.000000,2856.000000,2856.000000
mean,33.087500,90.363333,45.015833,27.220917,19.100625,39.908333,2.870292,19.461667,3.152564e+04,0.652528,...,-0.019272,0.514559,1.743151,2.620230,2008.500000,-0.003136,-0.034680,-0.039361,2.024825,2.374548
std,47.261277,211.614134,109.962773,32.875708,26.190845,109.136473,8.642960,32.571663,1.748100e+05,1.120363,...,0.883884,0.572384,1.702353,1.350715,3.452657,0.463649,0.862693,0.397423,1.045689,0.869931
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,-2.294752,-0.595800,0.000000,0.000000,2003.000000,-0.900925,-2.294752,-1.124159,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,-0.528707,0.000000,0.457655,1.405972,2005.750000,-0.149229,-0.491210,-0.208484,1.695335,2.004349
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.000000,0.346479,1.147279,2.223594,2008.500000,0.000000,0.000000,0.000000,2.031899,2.460707
75%,60.500000,51.675000,25.925000,61.692500,37.005000,23.000000,1.710000,33.300000,8.493750e+03,0.989788,...,0.608788,0.798332,2.714265,3.289880,2011.250000,0.000000,0.577581,0.000000,2.031899,2.460707
max,155.000000,1308.200000,768.800000,100.000000,100.000000,734.000000,71.000000,160.400000,2.019234e+06,7.020366,...,1.923965,3.218076,9.000000,9.000000,2014.000000,3.089593,1.923965,2.987438,9.000000,9.000000

In [ ]:
import pandas as pd
df = pd.read_excel('global_oc_index_2021.xlsx', sheet_name='Full_dataset')
df

,Continent,Region,Country,Country Code,CRIMINALITY,CRIMINAL MARKETS,Human trafficking,Human smuggling,Arms trafficking,Flora crimes,...,International cooperation,National policies and laws,Judicial system and detention,Law enforcement,Territorial integrity,Anti-money laundering,Economic regulatory capacity,Victim and witness support,Prevention,Non-state actors
0,Asia,Southern Asia,Afghanistan,AFG,7.0750,6.90,8.5,8.0,8.5,6.0,...,3.0,3.0,2.0,3.0,3.0,3.0,3.5,2.0,2.0,2.0
1,Europe,Central & Eastern Europe,Albania,ALB,5.6250,5.25,5.0,6.5,4.5,4.5,...,6.5,6.0,5.0,5.5,5.5,4.0,4.0,4.5,5.0,4.5
2,Africa,North Africa,Algeria,DZA,4.5125,4.65,4.5,6.5,5.0,2.0,...,5.0,6.0,4.0,6.0,6.5,4.5,4.5,3.0,4.0,3.5
3,Europe,Western Europe,Andorra,AND,2.9625,2.55,2.5,3.0,3.0,1.0,...,8.0,8.0,8.0,8.0,8.0,6.0,8.0,8.5,8.0,8.5
4,Africa,Central Africa,Angola,AGO,5.2875,5.20,6.0,4.0,6.0,7.0,...,5.0,5.0,3.5,4.5,6.0,5.0,4.0,4.0,3.5,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Americas,South America,Venezuela,VEN,6.6375,5.65,7.5,7.5,8.0,2.5,...,1.5,2.0,1.5,1.5,3.5,1.5,1.0,1.0,2.0,4.0
189,Asia,South-Eastern Asia,Vietnam,VNM,6.2750,6.05,6.5,7.0,4.0,6.5,...,5.5,5.5,4.0,4.5,5.0,5.5,5.0,5.0,4.5,2.0
190,Asia,Western Asia,Yemen,YEM,6.1250,5.00,8.5,7.5,9.0,2.5,...,3.0,2.0,1.5,2.0,2.0,2.0,2.5,1.0,2.0,2.0
191,Africa,Southern Africa,Zambia,ZMB,4.9250,4.60,5.0,3.0,4.0,8.0,...,5.0,6.5,5.0,4.0,3.5,5.0,5.0,3.0,3.0,5.0
192,Africa,Southern Africa,Zimbabwe,ZWE,5.6625,5.20,5.5,3.5,4.0,5.5,...,3.0,3.0,3.0,3.0,5.0,4.0,3.0,2.0,3.0,4.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 34 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Continent                                   193 non-null    object
 1   Region                                      193 non-null    object
 2   Country                                     193 non-null    object
 3   Country Code                                193 non-null    object
 4   CRIMINALITY                                 193 non-null    float64
 5   CRIMINAL MARKETS                            193 non-null    float64
 6   Human trafficking                           193 non-null    float64
 7   Human smuggling                             193 non-null    float64
 8   Arms trafficking                            193 non-null    float64
 9   Flora crimes                                193 non-null    float64
 10  Fauna crimes                                193 non-null    float64
 11  Non-renewable resource crimes               193 non-null    float64
 12  Heroin trade                                193 non-null    float64
 13  Cocaine trade                               193 non-null    float64
 14  Cannabis trade                              193 non-null    float64
 15  Synthetic drug trade                        193 non-null    float64
 16  CRIMINAL ACTORS                             193 non-null    float64
 17  Mafia-style groups                          193 non-null    float64
 18  Criminal networks                           193 non-null    float64
 19  State-embedded actors                       193 non-null    float64
 20  Foreign actors                              193 non-null    float64
 21  RESILIENCE                                  193 non-null    float64
 22  Political leadership and governance         193 non-null    float64
 23  Government transparency and accountability  193 non-null    float64
 24  International cooperation                   193 non-null    float64
 25  National policies and laws                  193 non-null    float64
 26  Judicial system and detention               193 non-null    float64
 27  Law enforcement                             193 non-null    float64
 28  Territorial integrity                       193 non-null    float64
 29  Anti-money laundering                       193 non-null    float64
 30  Economic regulatory capacity                193 non-null    float64
 31  Victim and witness support                  193 non-null    float64
 32  Prevention                                  193 non-null    float64
 33  Non-state actors                            193 non-null    float64
dtypes: float64(30), object(4)
memory usage: 51.4+ KB

In [ ]:
df.describe()

,CRIMINALITY,CRIMINAL MARKETS,Human trafficking,Human smuggling,Arms trafficking,Flora crimes,Fauna crimes,Non-renewable resource crimes,Heroin trade,Cocaine trade,...,International cooperation,National policies and laws,Judicial system and detention,Law enforcement,Territorial integrity,Anti-money laundering,Economic regulatory capacity,Victim and witness support,Prevention,Non-state actors
count,193.000000,193.000000,193.000000,193.00000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,...,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,4.871373,4.650777,5.582902,4.76943,4.919689,3.878238,4.634715,4.505181,3.974093,4.523316,...,5.678756,5.419689,4.593264,4.911917,5.119171,4.683938,4.678756,4.238342,4.474093,4.878238
std,1.326167,1.272582,1.679648,1.91416,2.105307,2.315469,1.921639,2.432950,2.060757,2.016398,...,1.774505,1.652027,1.831895,1.768507,1.846674,1.588074,1.827998,1.954610,1.804754,1.909255
min,1.537500,1.600000,1.500000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.500000,2.000000,1.500000,1.500000,1.500000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4.000000,3.850000,4.500000,3.00000,3.000000,2.000000,3.500000,2.000000,2.000000,3.000000,...,5.000000,4.500000,3.000000,4.000000,4.000000,3.500000,3.500000,3.000000,3.000000,3.500000
50%,4.900000,4.750000,5.500000,5.00000,5.000000,3.500000,4.500000,4.000000,4.000000,4.500000,...,5.500000,5.500000,4.500000,5.000000,5.000000,4.500000,4.500000,4.000000,4.500000,5.000000
75%,5.887500,5.650000,7.000000,6.50000,6.500000,6.000000,6.000000,6.500000,5.500000,6.000000,...,7.000000,6.500000,6.000000,6.000000,6.000000,6.000000,6.000000,5.500000,5.500000,6.000000
max,7.750000,8.000000,9.500000,9.50000,9.500000,8.500000,9.000000,9.500000,9.500000,9.500000,...,9.000000,9.000000,9.000000,9.000000,9.500000,8.500000,9.000000,9.500000,9.500000,9.000000

In [ ]:
import pandas as pd


merged_final = pd.merge(final, df, on='Country', how='outer')

merged_final

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,International cooperation,National policies and laws,Judicial system and detention,Law enforcement,Territorial integrity,Anti-money laundering,Economic regulatory capacity,Victim and witness support,Prevention,Non-state actors
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,5.5,5.5,4.0,5.0,3.5,5.0,4.0,4.0,4.0,5.0
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,7.0,6.0,5.5,4.5,6.0,6.0,5.0,3.0,3.5,6.5
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,6.5,5.5,4.0,6.0,6.5,4.5,4.5,5.0,6.0,6.5
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,5.5,5.0,2.0,3.0,5.0,4.0,2.0,4.0,4.5,4.0
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,5.0,6.5,5.0,4.0,3.5,5.0,5.0,3.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2863,"Korea, DPR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,1.5,1.5,6.0,1.0,1.5,1.0,1.0,1.5
2864,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,5.0,5.0,5.0,6.0,5.5,4.5,5.0,5.0,6.0
2865,São Tomé and Príncipe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,7.0,6.0,5.0,5.0,3.0,3.0,4.0,3.0,5.0
2866,"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.5,8.0,7.0,7.0,6.5,6.5,8.0,8.0
2867,St. Lucia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.5,6.5,6.0,4.5,5.5,4.0,5.5,5.0,6.0,4.0

In [ ]:
merged_final.shape

(2868, 67)

In [ ]:
#Dropping unnecessaru columns


DF = merged_final.drop(columns=['Unpaid diplomatic parking fines','Unpaid diplomatic parking fines per million','crime_score_raw','crime_score_w'])
DF

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,International cooperation,National policies and laws,Judicial system and detention,Law enforcement,Territorial integrity,Anti-money laundering,Economic regulatory capacity,Victim and witness support,Prevention,Non-state actors
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,5.5,5.5,4.0,5.0,3.5,5.0,4.0,4.0,4.0,5.0
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,7.0,6.0,5.5,4.5,6.0,6.0,5.0,3.0,3.5,6.5
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,6.5,5.5,4.0,6.0,6.5,4.5,4.5,5.0,6.0,6.5
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,5.5,5.0,2.0,3.0,5.0,4.0,2.0,4.0,4.5,4.0
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,5.0,6.5,5.0,4.0,3.5,5.0,5.0,3.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2863,"Korea, DPR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,1.5,1.5,6.0,1.0,1.5,1.0,1.0,1.5
2864,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,5.0,5.0,5.0,6.0,5.5,4.5,5.0,5.0,6.0
2865,São Tomé and Príncipe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,7.0,6.0,5.0,5.0,3.0,3.0,4.0,3.0,5.0
2866,"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.5,8.0,7.0,7.0,6.5,6.5,8.0,8.0
2867,St. Lucia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.5,6.5,6.0,4.5,5.5,4.0,5.5,5.0,6.0,4.0

In [ ]:
DF.shape

(2868, 62)

In [ ]:
DF_FINAL = DF.dropna(0)
DF_FINAL

/var/folders/7l/3d0_84v54zsc5bt08wk6wt0r0000gn/T/ipykernel_7111/2202852565.py:1: FutureWarning:

In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,International cooperation,National policies and laws,Judicial system and detention,Law enforcement,Territorial integrity,Anti-money laundering,Economic regulatory capacity,Victim and witness support,Prevention,Non-state actors
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,5.5,5.5,4.0,5.0,3.5,5.0,4.0,4.0,4.0,5.0
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,7.0,6.0,5.5,4.5,6.0,6.0,5.0,3.0,3.5,6.5
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,6.5,5.5,4.0,6.0,6.5,4.5,4.5,5.0,6.0,6.5
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,5.5,5.0,2.0,3.0,5.0,4.0,2.0,4.0,4.5,4.0
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,5.0,6.5,5.0,4.0,3.5,5.0,5.0,3.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Vietnam,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,5.5,5.5,4.0,4.5,5.0,5.5,5.0,5.0,4.5,2.0
224,Bahamas,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,6.0,6.0,3.5,6.0,5.0,4.5,4.0,6.5,5.0,4.0
225,St. Kitts and Nevis,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,6.0,6.5,7.0,4.5,6.0,5.5,2.0,2.5,4.0,5.0
226,St. Vincent and the Grenadines,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,6.0,6.5,6.0,4.5,6.0,5.5,4.0,3.0,6.0,6.0
230,Myanmar,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,5.0,4.5,3.5,4.0,3.0,3.0,3.0,2.0,3.0,4.0

In [ ]:
DF_FINAL

,Country,index,Assaults,Auto theft,Believes crime increasing in the past 3 years,Crime levels,Drug related crime,Murder rate,Prison staff,Prisoners,...,International cooperation,National policies and laws,Judicial system and detention,Law enforcement,Territorial integrity,Anti-money laundering,Economic regulatory capacity,Victim and witness support,Prevention,Non-state actors
0,Guatemala,0.0,48.1,63.0,81.82,84.09,0.0,52.0,62.1,8307.0,...,5.5,5.5,4.0,5.0,3.5,5.0,4.0,4.0,4.0,5.0
1,Kenya,1.0,35.9,0.1,75.00,91.25,16.0,3.6,34.2,35278.0,...,7.0,6.0,5.5,4.5,6.0,6.0,5.0,3.0,3.5,6.5
2,Jamaica,3.0,421.9,10.0,81.25,73.33,463.0,60.0,0.0,4744.0,...,6.5,5.5,4.0,6.0,6.5,4.5,4.5,5.0,6.0,6.5
3,El Salvador,5.0,75.9,20.7,59.09,75.00,18.0,71.0,21.7,11055.0,...,5.5,5.0,2.0,3.0,5.0,4.0,2.0,4.0,4.5,4.0
4,Zambia,6.0,211.4,7.6,0.00,0.00,4.0,0.0,17.4,13173.0,...,5.0,6.5,5.0,4.0,3.5,5.0,5.0,3.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Vietnam,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,5.5,5.5,4.0,4.5,5.0,5.5,5.0,5.0,4.5,2.0
224,Bahamas,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,6.0,6.0,3.5,6.0,5.0,4.5,4.0,6.5,5.0,4.0
225,St. Kitts and Nevis,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,6.0,6.5,7.0,4.5,6.0,5.5,2.0,2.5,4.0,5.0
226,St. Vincent and the Grenadines,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,6.0,6.5,6.0,4.5,6.0,5.5,4.0,3.0,6.0,6.0
230,Myanmar,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,5.0,4.5,3.5,4.0,3.0,3.0,3.0,2.0,3.0,4.0